<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>إضافة بلاغ</title>
</head>
<body>
    <div class="container" style="margin-top: 50px;">
        <h2>إضافة بلاغ جديد</h2>
        <form action="/add" method="POST">
            <input type="text" name="imei" placeholder="رقم الـ IMEI" required><br>
            <input type="text" name="brand" placeholder="الماركة" required><br>
            <button type="submit">حفظ البلاغ</button>
        </form>
        <br><a href="/">العودة للرئيسية</a>
    </div>
</body>
</html>
