<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="marquee-bar"><marquee>صلى على النبي.. اذكر الله.. لا إله إلا الله</marquee></div>
    <div class="container" style="margin-top: 60px;">
        <h2>نظام كشف المسروقات</h2>
        <form action="/search" method="GET">
            <input type="text" name="imei" placeholder="أدخل رقم الـ IMEI كاملاً">
            <button type="submit">بحث</button>
        </form>
        <hr>
        <h3>تصفح حسب الشركة</h3>
        <div class="brands">
            <a href="/search?brand=Samsung"><button>Samsung</button></a>
            <a href="/search?brand=Vivo"><button>Vivo</button></a>
            <a href="/search?brand=LT"><button>LT</button></a>
            <a href="/search?brand=Android"><button>أجهزة أندرويد أخرى</button></a>
        </div>
        <br><a href="/add">إضافة بلاغ جديد</a>
    </div>
</body>
</html>
